body {
  height: 100vh;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  background-color: wheat;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
}

.box_one {
  background-color: teal;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  margin-top: 15px;
}

.box_two {
  background-color: teal;
  border: 3px dashed white;
  width: 150px;
  height: 40px;
}

.box_three {
  background-color: teal;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  margin-bottom: 15px;
}
